ACCESS_TOKEN_SECRET=097a4c342574f10f5d1b65f28c5f9e58db5b8bc932f7c1eb254611f42b7aa90510f378daefb83527ce7995a0d3b38b7de0deaede2735ea2969abab91f792b9c3
REFRESH_TOKEN_SECRET=7fecefbe131dc84e54b4f97356cc361ac84e143376cf13b9ae6f26aff657ef56c45e570f3cfadb6d5634e3d7ad58a154bdc7eeced6501101333513326f58e4d8
MONGO_USERNAME=bilbomd-backend-user
MONGO_PASSWORD=XXXXXXXXXXXXXXXXXXXX
MONGO_HOSTNAME=hostname.example.com
MONGO_PORT=27017
MONGO_DB=bilbomd
MONGO_AUTH_SRC=admin
REDIS_URL=bilbomd-redis:6379
REDIS_HOST=bilbomd-redis
REDIS_PORT=6379
REDIS_PASSWORD=XXXXXXXXXXXXXXXXXXXX
SENDMAIL_USER=bilbomd@bl1231.als.lbl.gov
BILBOMD_URL=https://bilbomd.bl1231.als.lbl.gov
BILBOMD_URL_DEV=https://localhost:3002
DATA_VOL=/bilbomd/uploads

CHARMM_VER=c47b2
CHARM_TOPOLOGY=/home/node/app/scripts/bilbomd_top_par_files.str
CHARMM=/usr/local/bin/charmm
FOXS=/usr/local/bin/foxs
MULTIFOXS=/usr/local/bin/multi_foxs