version: "3.9"

volumes:
  mongodb:
    name: mongodb
    external: true
  redis-cache:
    name: redis-cache
    external: true
  uploads:
    name: uploads
    external: true

networks:
  app-network:
    driver: bridge

services:
  mongodb:
    image: mongo:latest
    restart: always
    healthcheck:
      test: echo 'db.runCommand({serverStatus:1}).ok' | mongosh admin -u $MONGO_USERNAME -p $MONGO_PASSWORD --quiet | grep 1
      interval: 10s
      timeout: 10s
      retries: 7
      start_period: 20s
    env_file:
      - .${BILBOMD_ENV:?err}.env
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGO_USERNAME
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_PASSWORD
    ports:
      - "${MONGO_EXTERNAL_PORT:?err}:27017"
    volumes:
      - mongodb:/data/db
      - /etc/localtime:/etc/localtime:ro
    networks:
      - app-network

  redis:
    image: redis:latest
    restart: always
    ports:
      - "${REDIS_EXTERNAL_PORT:?err}:6379"
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - redis-cache:/data
    networks:
      - app-network

  backend:
    image: bl1231/bilbomd-backend:0.0.12
    build:
      context: ./bilbomd-backend
      args:
        DEVELOPMENT: false
        USER_ID: 1001
        GROUP_ID: 1001
    deploy:
      resources:
        limits:
          cpus: '12'
    restart: always
    env_file:
      - .${BILBOMD_ENV:?err}.env
    environment:
      ACCESS_TOKEN_SECRET: $ACCESS_TOKEN_SECRET
      REFRESH_TOKEN_SECRET: $REFRESH_TOKEN_SECRET
      MONGO_USERNAME: $MONGO_USERNAME
      MONGO_PASSWORD: $MONGO_PASSWORD
      MONGO_HOSTNAME: $MONGO_HOSTNAME
      MONGO_PORT: $MONGO_PORT
      MONGO_DB: $MONGO_DB
      MONGO_AUTH_SRC: $MONGO_AUTH_SRC
      REDIS_HOST: $REDIS_HOST
      REDIS_PORT: $REDIS_PORT
      REDIS_PASSWORD: $REDIS_PASSWORD
      BILBOMD_URL: $BILBOMD_URL
      BILBOMD_BACKEND_HOST: $BILBOMD_BACKEND_HOST
      BILBOMD_BACKEND_PORT: $BILBOMD_BACKEND_PORT
    ports:
      - "${BILBOMD_BACKEND_PORT:?err}:3500"
    volumes:
      - uploads:/bilbomd/uploads
      - /etc/localtime:/etc/localtime:ro
      # - ./logs/prod:/logs
    user: "1001:1001"
    networks:
      - app-network
    depends_on:
      - mongodb
      - redis

  worker:
    image: bl1231/bilbomd-worker:0.0.9
    build:
      context: ./bilbomd-worker
      args:
        CHARMM_VER: c47b2
        USER_ID: 1001
        GROUP_ID: 1001
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: '12'
    restart: no
    env_file:
      - .${BILBOMD_ENV:?err}.env
    environment:
      ACCESS_TOKEN_SECRET: $ACCESS_TOKEN_SECRET
      REFRESH_TOKEN_SECRET: $REFRESH_TOKEN_SECRET
      MONGO_USERNAME: $MONGO_USERNAME
      MONGO_PASSWORD: $MONGO_PASSWORD
      MONGO_HOSTNAME: $MONGO_HOSTNAME
      MONGO_PORT: $MONGO_PORT
      MONGO_DB: $MONGO_DB
      MONGO_AUTH_SRC: $MONGO_AUTH_SRC
      REDIS_HOST: $REDIS_HOST
      REDIS_PORT: $REDIS_PORT
      REDIS_PASSWORD: $REDIS_PASSWORD
      BILBOMD_URL: $BILBOMD_URL
      BILBOMD_BACKEND_HOST: $BILBOMD_BACKEND_HOST
      BILBOMD_BACKEND_PORT: $BILBOMD_BACKEND_PORT
    networks:
      - app-network
    volumes:
      - uploads:/bilbomd/uploads
      - /etc/localtime:/etc/localtime:ro
    user: "1001:1001"
    depends_on:
      - mongodb
      - redis

# secrets:
#   access_token_secret:
#     file: ./secrets/${BILBOMD_ENV:?err}/access_token_secret
#   refresh_token_secret:
#     file: ./secrets/${BILBOMD_ENV:?err}/refresh_token_secret
#   mongo_password:
#     file: ./secrets/${BILBOMD_ENV:?err}/mongo_password
#   redis_password:
#     file: ./secrets/${BILBOMD_ENV:?err}/redis_password
