# --------------------------------------------------------------------------------------
# Use this Docker compose file for production deployment to Hyperion.
# You may need to create the following volumes before running this file:
#
#  docker volume create bilbomd-mongodb
#  docker volume create bilbomd-redis-cache
#  docker volume create bilbomd-uploads
#  docker volume create bilbomd-logs
#
# You will also need to copy .env.example to .env.prod and maybe adjust some
# of the values in the .env.prod file.
# --------------------------------------------------------------------------------------
volumes:
  mongodb:
    name: bilbomd-mongodb
    external: true
  redis-cache:
    name: bilbomd-redis-cache
    external: true
  uploads:
    name: bilbomd-uploads
    external: true
  logs:
    name: bilbomd-logs
    external: true

networks:
  app-network:
    driver: bridge

services:
  # ------------------------------------------------------------------------------------
  mongodb:
    image: mongo:7.0.19
    restart: always
    deploy:
      resources:
        limits:
          cpus: "4"
          memory: "4g"
    healthcheck:
      test: echo 'db.runCommand({serverStatus:1}).ok' | mongosh admin -u $MONGO_USERNAME -p $MONGO_PASSWORD --quiet | grep 1
      interval: 10s
      timeout: 10s
      retries: 7
      start_period: 20s
    env_file:
      - .env.prod
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGO_USERNAME
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_PASSWORD
    ports:
      - "${MONGO_DEV_BIND_ADDR:?err}:${MONGO_EXTERNAL_PORT:?err}:27017"
    volumes:
      - mongodb:/data/db
      - /backups/databases/bilbomd:/backups
    networks:
      - app-network

  # ------------------------------------------------------------------------------------
  redis:
    image: redis:7.4.2
    restart: always
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: "1g"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    env_file:
      - .env.prod
    ports:
      - "${REDIS_DEV_BIND_ADDR:?err}:${REDIS_EXTERNAL_PORT:?err}:6379"
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - redis-cache:/data
    networks:
      - app-network

  # ------------------------------------------------------------------------------------
  backend:
    image: ghcr.io/bl1231/bilbomd-backend:1.20.0
    pull_policy: always
    deploy:
      resources:
        limits:
          cpus: "6"
          memory: "4g"
    restart: always
    env_file:
      - .env.prod
    ports:
      - "${BILBOMD_DEV_BIND_ADDR:?err}:${BILBOMD_BACKEND_PORT:?err}:3500"
    volumes:
      - uploads:/bilbomd/uploads
      - logs:/bilbomd/logs
    networks:
      - app-network
    depends_on:
      - mongodb
      - redis
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:3500/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  # ------------------------------------------------------------------------------------
  worker:
    image: ghcr.io/bl1231/bilbomd-worker:1.14.2
    pull_policy: always
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: "8"
          memory: "32g"
    restart: no
    env_file:
      - .env.prod
    networks:
      - app-network
    volumes:
      - uploads:/bilbomd/uploads
      - logs:/bilbomd/logs
    depends_on:
      - mongodb
      - redis
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:3000/config"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  # ------------------------------------------------------------------------------------
  scoper:
    image: ghcr.io/bl1231/bilbomd-scoper:1.3.1
    pull_policy: always
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "6"
    restart: no
    env_file:
      - .env.prod
    networks:
      - app-network
    volumes:
      - uploads:/bilbomd/uploads
      - logs:/bilbomd/logs
    depends_on:
      - mongodb
      - redis

  # ------------------------------------------------------------------------------------
  ui:
    image: ghcr.io/bl1231/bilbomd-ui:1.20.3
    pull_policy: always
    env_file:
      - .env.prod
    ports:
      - "${BILBOMD_DEV_BIND_ADDR:?err}:${BILBOMD_UI_PORT:?err}:80"
    networks:
      - app-network
    depends_on:
      - backend
      - mongodb
      - redis
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost/version-info"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
