version: "3.9"

volumes:
  mongodb:
    name: mongodb
    external: true
  redis-cache:
    name: redis-cache
    external: true
  uploads:
    name: uploads
    external: true

networks:
  app-network:
    driver: bridge

services:
  mongodb:
    image: mongo:7.0.7
    restart: always
    healthcheck:
      test: echo 'db.runCommand({serverStatus:1}).ok' | mongosh admin -u $MONGO_USERNAME -p $MONGO_PASSWORD --quiet | grep 1
      interval: 10s
      timeout: 10s
      retries: 7
      start_period: 20s
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGO_USERNAME
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_PASSWORD
    ports:
      - "${MONGO_DEV_BIND_ADDR:?err}:${MONGO_EXTERNAL_PORT:?err}:27017"
    volumes:
      - mongodb:/data/db
    networks:
      - app-network

  redis:
    image: redis:7.2.4
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    ports:
      - "${REDIS_DEV_BIND_ADDR:?err}:${REDIS_EXTERNAL_PORT:?err}:6379"
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - redis-cache:/data
    networks:
      - app-network

  backend:
    image: bl1231/bilbomd-backend:1.8.2
    build:
      context: ./bilbomd-backend
      args:
        DEVELOPMENT: false
        USER_ID: 1001
        GROUP_ID: 1001
        NODE_MAJOR: 20
    deploy:
      resources:
        limits:
          cpus: '12'
    restart: always
    env_file:
      - .env
    environment:
      NODE_ENV: production
      ACCESS_TOKEN_SECRET: $ACCESS_TOKEN_SECRET
      REFRESH_TOKEN_SECRET: $REFRESH_TOKEN_SECRET
      MONGO_USERNAME: $MONGO_USERNAME
      MONGO_PASSWORD: $MONGO_PASSWORD
      MONGO_HOSTNAME: $MONGO_HOSTNAME
      MONGO_PORT: $MONGO_PORT
      MONGO_DB: $MONGO_DB
      MONGO_AUTH_SRC: $MONGO_AUTH_SRC
      REDIS_HOST: $REDIS_HOST
      REDIS_PORT: $REDIS_PORT
      REDIS_PASSWORD: $REDIS_PASSWORD
      BILBOMD_URL: $BILBOMD_URL
      SFAPI_CLIENT_ID: $SFAPI_CLIENT_ID
      SFAPI_CLIENT_SECRET: $SFAPI_CLIENT_SECRET
      USE_NERSC: $USE_NERSC
      SEND_EMAIL_NOTIFICATIONS: $SEND_EMAIL_NOTIFICATIONS
    ports:
      - "${BILBOMD_DEV_BIND_ADDR:?err}:${BILBOMD_BACKEND_PORT:?err}:3500"
    volumes:
      - uploads:/bilbomd/uploads
    user: "1001:1001"
    networks:
      - app-network
    depends_on:
      - mongodb
      - redis

  worker:
    image: bl1231/bilbomd-worker:1.5.2
    build:
      context: ./bilbomd-worker
      args:
        CHARMM_VER: c47b2
        NODE_MAJOR: 20
        USER_ID: 1001
        GROUP_ID: 1001
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: '12'
    restart: no
    env_file:
      - .env
    environment:
      ACCESS_TOKEN_SECRET: $ACCESS_TOKEN_SECRET
      REFRESH_TOKEN_SECRET: $REFRESH_TOKEN_SECRET
      MONGO_USERNAME: $MONGO_USERNAME
      MONGO_PASSWORD: $MONGO_PASSWORD
      MONGO_HOSTNAME: $MONGO_HOSTNAME
      MONGO_PORT: $MONGO_PORT
      MONGO_DB: $MONGO_DB
      MONGO_AUTH_SRC: $MONGO_AUTH_SRC
      REDIS_HOST: $REDIS_HOST
      REDIS_PORT: $REDIS_PORT
      REDIS_PASSWORD: $REDIS_PASSWORD
      BILBOMD_URL: $BILBOMD_URL
      SEND_EMAIL_NOTIFICATIONS: $SEND_EMAIL_NOTIFICATIONS
    networks:
      - app-network
    volumes:
      - uploads:/bilbomd/uploads
    user: "1001:1001"
    depends_on:
      - mongodb
      - redis

  scoper:
    image: bl1231/bilbomd-scoper:1.0.4
    # build:
    #   context: ./bilbomd-scoper
    #   args:
    #     USER_ID: 1001
    #     GROUP_ID: 1001
    #     NODE_MAJOR: 20
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '12'
    restart: no
    env_file:
      - .env
    environment:
      ACCESS_TOKEN_SECRET: $ACCESS_TOKEN_SECRET
      REFRESH_TOKEN_SECRET: $REFRESH_TOKEN_SECRET
      MONGO_USERNAME: $MONGO_USERNAME
      MONGO_PASSWORD: $MONGO_PASSWORD
      MONGO_HOSTNAME: $MONGO_HOSTNAME
      MONGO_PORT: $MONGO_PORT
      MONGO_DB: $MONGO_DB
      MONGO_AUTH_SRC: $MONGO_AUTH_SRC
      REDIS_HOST: $REDIS_HOST
      REDIS_PORT: $REDIS_PORT
      REDIS_PASSWORD: $REDIS_PASSWORD
      BILBOMD_URL: $BILBOMD_URL
      # BILBOMD_BACKEND_HOST: $BILBOMD_BACKEND_HOST
      # BILBOMD_BACKEND_PORT: $BILBOMD_BACKEND_PORT
      SCOPER_KGS_CONFORMERS: $SCOPER_KGS_CONFORMERS
    networks:
      - app-network
    volumes:
      - uploads:/bilbomd/uploads
    user: "1001:1001"
    depends_on:
      - mongodb
      - redis

  ui:
    image: bl1231/bilbomd-ui:1.8.2
    build:
      context: ./bilbomd-ui
      args:
        USE_NERSC: $USE_NERSC
    env_file:
      - .env
    environment:
      BACKEND_SERVICE_URL: backend
      USE_NERSC: $USE_NERSC
      NERSC_PROJECT: $NERSC_PROJECT
    ports:
      - "${BILBOMD_DEV_BIND_ADDR:?err}:${BILBOMD_UI_PORT:?err}:80"
    networks:
      - app-network
    depends_on:
      - backend
      - mongodb
      - redis