# -----------------------------------------------------------------------------
# Use this Docker compose file for development deployment on Hyperion
# You may need to create the following volumes before running this file:
#
#  docker volume create mongodb-dev
#  docker volume create redis-cache-dev
#  docker volume create uploads-dev
#  docker volume create logs-dev
#
# You will also need to copy .env.example to .env.dev and maybe adjust some
# of the values in the .env.dev file.
# -----------------------------------------------------------------------------
volumes:
  mongodb:
    name: mongodb-dev
    external: true
  redis-cache:
    name: redis-cache-dev
    external: true
  uploads:
    name: uploads-dev
    external: true
  logs:
    name: logs-dev
    external: true

networks:
  app-network-dev:
    driver: bridge

services:
  mongodb:
    image: mongo:7.0.12
    pull_policy: always
    restart: always
    healthcheck:
      test: echo 'db.runCommand({serverStatus:1}).ok' | mongosh admin -u $MONGO_USERNAME -p $MONGO_PASSWORD --quiet | grep 1
      interval: 10s
      timeout: 10s
      retries: 7
      start_period: 20s
    env_file:
      - path: .env.dev
    ports:
      - "${MONGO_DEV_BIND_ADDR:?err}:${MONGO_EXTERNAL_PORT:?err}:27017"
    volumes:
      - mongodb:/data/db
    networks:
      - app-network-dev

  redis:
    image: redis:7.4.0
    pull_policy: always
    restart: always
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    env_file:
      - path: .env.dev
    ports:
      - "${REDIS_DEV_BIND_ADDR:?err}:${REDIS_EXTERNAL_PORT:?err}:6379"
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - redis-cache:/data
    networks:
      - app-network-dev

  backend:
    image: ghcr.io/bl1231/bilbomd-backend/bilbomd-backend:latest
    pull_policy: always
    deploy:
      resources:
        limits:
          cpus: "12"
    restart: always
    env_file:
      - path: .env.dev
    ports:
      - "${BILBOMD_DEV_BIND_ADDR:?err}:${BILBOMD_BACKEND_PORT:?err}:3500"
    volumes:
      # - ./bilbomd-backend:/app
      - uploads:/bilbomd/uploads
      - logs:/bilbomd/logs
    networks:
      - app-network-dev
    # user: "${UID:-1001}:${GID:-1001}"
    # command: [ "npm", "run", "dev" ]
    depends_on:
      - mongodb
      - redis

  worker:
    image: ghcr.io/bl1231/bilbomd-worker/bilbomd-worker:latest
    pull_policy: always
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "12"
    restart: no
    env_file:
      - .env.dev
    networks:
      - app-network-dev
    volumes:
      # - ./bilbomd-worker:/app
      - uploads:/bilbomd/uploads
      - logs:/bilbomd/logs
    # user: "${UID:-1001}:${GID:-1001}"
    # command: [ "npm", "run", "dev" ]
    depends_on:
      - mongodb
      - redis

  # scoper:
  #   image: bl1231/bilbomd-scoper:1.0.6
  #   build:
  #     context: ./bilbomd-scoper
  #     args:
  #       USER_ID: 1001
  #       GROUP_ID: 1001
  #       NODE_MAJOR: 20
  #       GITHUB_TOKEN: $GITHUB_TOKEN
  #   deploy:
  #     replicas: 1
  #     resources:
  #       limits:
  #         cpus: "12"
  #   restart: no
  #   env_file:
  #     - .env.dev
  #   environment:
  #     ACCESS_TOKEN_SECRET: $ACCESS_TOKEN_SECRET
  #     REFRESH_TOKEN_SECRET: $REFRESH_TOKEN_SECRET
  #     MONGO_USERNAME: $MONGO_USERNAME
  #     MONGO_PASSWORD: $MONGO_PASSWORD
  #     MONGO_HOSTNAME: $MONGO_HOSTNAME
  #     MONGO_PORT: $MONGO_PORT
  #     MONGO_DB: $MONGO_DB
  #     MONGO_AUTH_SRC: $MONGO_AUTH_SRC
  #     REDIS_HOST: $REDIS_HOST
  #     REDIS_PORT: $REDIS_PORT
  #     REDIS_PASSWORD: $REDIS_PASSWORD
  #     BILBOMD_URL: $BILBOMD_URL
  #     SCOPER_KGS_CONFORMERS: $SCOPER_KGS_CONFORMERS
  #     BULLMQ_ATTEMPTS: $BULLMQ_ATTEMPTS
  #   networks:
  #     - app-network
  #   volumes:
  #     - uploads:/bilbomd/uploads
  #     - logs:/bilbomd/logs
  #   user: "1001:1001"
  #   depends_on:
  #     - mongodb
  #     - redis

  ui:
    image: ghcr.io/bl1231/bilbomd-ui:latest
    pull_policy: always
    env_file:
      - .env.dev
    ports:
      - "${BILBOMD_DEV_BIND_ADDR:?err}:${BILBOMD_UI_PORT:?err}:80"
    networks:
      - app-network-dev
    depends_on:
      - backend
      - mongodb
      - redis
  # ui:
  #   image: bl1231/bilbomd-ui:latest
  #   build:
  #     context: ./bilbomd-ui
  #   environment:
  #     BACKEND_SERVICE_URL: backend
  #   ports:
  #     - "${BILBOMD_DEV_BIND_ADDR:?err}:${BILBOMD_UI_PORT:?err}:80"
  #   networks:
  #     - app-network-dev
  #   depends_on:
  #     - backend
  #     - mongodb
  #     - redis
