version: "3.9"

volumes:
  mongodb-dev:
    name: mongodb-dev
    external: true
  redis-cache-dev:
    name: redis-cache-dev
    external: true
  uploads-dev:
    name: uploads-dev
    external: true

services:
  mongodb:
    volumes:
      - mongodb-dev:/data/db

  redis:
    volumes:
      - redis-cache-dev:/data
    ports:
      - "${REDIS_EXTERNAL_PORT:?err}:${REDIS_PORT:?err}"

  backend:
    image: bl1231/bilbomd-backend:0.0.12-dev1
    build:
      args:
        USER_ID: 5005
        GROUP_ID: 1231
    volumes:
      - uploads-dev:/bilbomd/uploads
      - ./bilbomd-backend:/app
      # - ./logs/dev:/logs
    user: "5005:1231"
    command: [ "npm", "run", "dev" ]

  worker:
    image: bl1231/bilbomd-worker:0.0.9-dev1
    build:
      args:
        USER_ID: 5005
        GROUP_ID: 1231
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: '10'
    volumes:
      - uploads-dev:/bilbomd/uploads
      - ./bilbomd-worker:/app
    user: "5005:1231"
    command: [ "npm", "run", "dev" ]
