volumes:
  mongodb:
    name: mongodb
    external: true
  redis-cache:
    name: redis-cache
    external: true
  uploads:
    name: uploads
    external: true
  logs:
    name: logs
    external: true

networks:
  app-network:
    driver: bridge

services:
  mongodb:
    image: mongo:7.0.9
    restart: always
    healthcheck:
      test: echo 'db.runCommand({serverStatus:1}).ok' | mongosh admin -u $MONGO_USERNAME -p $MONGO_PASSWORD --quiet | grep 1
      interval: 10s
      timeout: 10s
      retries: 7
      start_period: 20s
    env_file:
      - .env.prod
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGO_USERNAME
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_PASSWORD
    ports:
      - "${MONGO_DEV_BIND_ADDR:?err}:${MONGO_EXTERNAL_PORT:?err}:27017"
    volumes:
      - mongodb:/data/db
    networks:
      - app-network

  redis:
    image: redis:7.4.0
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    ports:
      - "${REDIS_DEV_BIND_ADDR:?err}:${REDIS_EXTERNAL_PORT:?err}:6379"
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - redis-cache:/data
    networks:
      - app-network

  backend:
    image: bl1231/bilbomd-backend:1.9.4
    build:
      context: ./bilbomd-backend
      dockerfile: bilbomd-backend.dockerfile
      args:
        DEVELOPMENT: false
        USER_ID: 1001
        GROUP_ID: 1001
        NODE_MAJOR: 20
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    deploy:
      resources:
        limits:
          cpus: "12"
    restart: always
    env_file:
      - .env.prod
    ports:
      - "${BILBOMD_DEV_BIND_ADDR:?err}:${BILBOMD_BACKEND_PORT:?err}:3500"
    volumes:
      - uploads:/bilbomd/uploads
      - logs:/bilbomd/logs
    user: "1001:1001"
    networks:
      - app-network
    depends_on:
      - mongodb
      - redis

  worker:
    image: bl1231/bilbomd-worker:1.6.3
    build:
      context: ./bilbomd-worker
      dockerfile: bilbomd-worker.dockerfile
      args:
        CHARMM_VER: c48b2
        NODE_MAJOR: 20
        USER_ID: 1001
        GROUP_ID: 1001
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: "12"
    restart: no
    env_file:
      - .env.prod
    networks:
      - app-network
    volumes:
      - uploads:/bilbomd/uploads
      - logs:/bilbomd/logs
    user: "1001:1001"
    depends_on:
      - mongodb
      - redis

  scoper:
    image: bl1231/bilbomd-scoper:1.0.6
    build:
      context: ./bilbomd-scoper
      args:
        USER_ID: 1001
        GROUP_ID: 1001
        NODE_MAJOR: 20
        GITHUB_TOKEN: $GITHUB_TOKEN
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "12"
    restart: no
    env_file:
      - .env.prod
    networks:
      - app-network
    volumes:
      - uploads:/bilbomd/uploads
      - logs:/bilbomd/logs
    user: "1001:1001"
    depends_on:
      - mongodb
      - redis

  ui:
    image: bl1231/bilbomd-ui:1.9.5
    build:
      context: ./bilbomd-ui
      args:
        GIT_HASH: $GIT_HASH
    env_file:
      - .env.prod
    ports:
      - "${BILBOMD_DEV_BIND_ADDR:?err}:${BILBOMD_UI_PORT:?err}:80"
    networks:
      - app-network
    depends_on:
      - backend
      - mongodb
      - redis
