version: "3.9"

volumes:
  mongodb-dev:
    name: mongodb-dev
    external: true
  redis-cache-dev:
    name: redis-cache-dev
    external: true
  # uploads-dev:
  #   name: uploads-dev
  #   external: true

services:
  mongodb:
    volumes:
      - mongodb-dev:/data/db

  redis:
    volumes:
      - redis-cache-dev:/data
    ports:
      - "${REDIS_EXTERNAL_PORT:?err}:${REDIS_PORT:?err}"

  backend:
    image: bl1231/bilbomd-backend:1.5.3-dev
    build:
      args:
        USER_ID: 5005
        GROUP_ID: 1231
    volumes:
      - ./uploads-dev:/bilbomd/uploads
      - ./bilbomd-backend:/app
    user: "5005:1231"
    command: [ "npm", "run", "dev" ]

  worker:
    image: bl1231/bilbomd-worker:1.2.8-dev
    build:
      args:
        USER_ID: 5005
        GROUP_ID: 1231
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '10'
    volumes:
      - ./uploads-dev:/bilbomd/uploads
      - ./bilbomd-worker:/app
    user: "5005:1231"
    command: [ "npm", "run", "dev" ]

  scoper:
    image: bl1231/bilbomd-scoper:1.0.3-dev
    build:
      args:
        USER_ID: 5005
        GROUP_ID: 1231
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '10'
    volumes:
      - ./uploads-dev:/bilbomd/uploads
      - ./bilbomd-scoper:/home/bun/app
      - ../IonNet:/home/bun/IonNet
    user: "5005:1231"
    command: [ "npm", "run", "dev" ]

  ui:
    image: bl1231/bilbomd-ui:1.6.1-dev
    build:
      context: ./bilbomd-ui
    volumes:
      - ./uploads-dev:/bilbomd/uploads:ro