version: "3.9"

volumes:
  mongodb-dev:
    name: mongodb-dev
    external: true
  redis-cache-dev:
    name: redis-cache-dev
    external: true
  uploads-dev:
    name: uploads-dev
    external: true

services:
  mongodb:
    volumes:
      - mongodb-dev:/data/db
    ports:
      - "127.0.0.1:28017:27017"

  redis:
    volumes:
      - redis-cache-dev:/data
    ports:
      - "${REDIS_EXTERNAL_PORT:?err}:${REDIS_PORT:?err}"

  backend:
    image: bl1231/bilbomd-backend:latest
    build:
      args:
        USER_ID: ${UID:-1001}
        GROUP_ID: ${GID:-1001}
    ports:
      - "127.0.0.1:3501:3500"
    volumes:
      - ./uploads-dev:/bilbomd/uploads
      - ./bilbomd-backend:/app
      - ./secrets:/secrets
    user: "${UID:-1001}:${GID:-1001}"
    command: [ "npm", "run", "dev" ]

  worker:
    image: bl1231/bilbomd-worker:latest
    build:
      args:
        USER_ID: ${UID:-1001}
        GROUP_ID: ${GID:-1001}
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '10'
    volumes:
      - ./uploads-dev:/bilbomd/uploads
      - ./bilbomd-worker:/app
    user: "${UID:-1001}:${GID:-1001}"
    command: [ "npm", "run", "dev" ]

  # scoper:
  #   image: bl1231/bilbomd-scoper:latest
  #   build:
  #     args:
  #       USER_ID: ${UID}
  #       GROUP_ID: ${GID}
  #   deploy:
  #     replicas: 1
  #     resources:
  #       limits:
  #         cpus: '10'
  #   volumes:
  #     - ./uploads-dev:/bilbomd/uploads
  #     - ./bilbomd-scoper:/home/bun/app
  #     - ../IonNet:/home/bun/IonNet
  #   user: "${UID:-1001}:${GID:-1001}"
  #   command: [ "npm", "run", "dev" ]

  ui:
    image: bl1231/bilbomd-ui:latest
    build:
      context: ./bilbomd-ui
    environment:
      BACKEND_SERVICE_URL: backend
