apiVersion: v1
items:
  - apiVersion: batch/v1
    kind: CronJob
    metadata:
      annotations:
        field.cattle.io/description: CronJob to backup the BilboMD database
      name: mongo-backup
      namespace: "{{ .Values.namespace }}"
    spec:
      concurrencyPolicy: Allow
      failedJobsHistoryLimit: 1
      jobTemplate:
        metadata:
          namespace: "{{ .Values.namespace }}"
        spec:
          template:
            spec:
              affinity: {}
              containers:
                - args:
                    - "mongodump --uri=mongodb://$(MONGO_USERNAME):$(MONGO_PASSWORD)@$(MONGO_HOSTNAME):27017/$(MONGO_DB)?authSource=$(MONGO_AUTH_SRC) --archive=/backups/bilbomd-mongodb-$(date +'%Y-%m-%d-%H%M%S').gz"
                  command:
                    - sh
                    - -c
                  envFrom:
                    - secretRef:
                        name: {{ .Values.namespace }}-secrets
                        optional: false
                    - configMapRef:
                        name: {{ .Values.namespace }}-config
                        optional: false
                  image: "{{ .Values.mongo.image.repository }}:{{ .Values.mongo.image.tag }}"
                  imagePullPolicy: "{{ .Values.mongo.image.pullPolicy }}"
                  name: container-0
                  resources: {}
                  securityContext:
                    allowPrivilegeEscalation: false
                    capabilities:
                      add:
                        - NET_BIND_SERVICE
                      drop:
                        - ALL
                    privileged: false
                    readOnlyRootFilesystem: false
                    runAsNonRoot: false
                    runAsUser: 62704
                  terminationMessagePath: /dev/termination-log
                  terminationMessagePolicy: File
                  volumeMounts:
                    - mountPath: /backups
                      name: vol-backups
              dnsPolicy: ClusterFirst
              imagePullSecrets:
                - name: registry-nersc
              restartPolicy: Never
              schedulerName: default-scheduler
              securityContext:
                fsGroup: 104818
              terminationGracePeriodSeconds: 30
              volumes:
                - hostPath:
                    path: {{ .Values.cfs_dir }}/{{ .Values.nersc_repo }}/{{ .Values.backups }}
                    type: Directory
                  name: vol-backups
      schedule: 0 2 * * *
      successfulJobsHistoryLimit: 3
      suspend: false
kind: List
metadata:
  resourceVersion: ""
