# --------------------------------------------------------------------------------------
# Use this Docker compose file for development deployment on Epyc
# You may need to create the following volumes before running this file:
#
#  docker volume create bilbomd-mongodb-dev
#  docker volume create bilbomd-redis-cache-dev
#  docker volume create bilbomd-scratch-dev
#
# You will also need to copy .env.example to .env.dev and maybe adjust some
# of the values in the .env.dev file.
#
# Possibly need to change the ownership of the uploads and logs volumes
# to match the user and group IDs used in the backend and worker containers:
# docker run --rm -v bilbomd-uploads-dev:/data alpine:latest chown -R 62704:1001 /data
# docker run --rm -v bilbomd-logs-dev:/data alpine:latest chown -R 62704:1001 /data
# --------------------------------------------------------------------------------------
volumes:
  mongodb:
    name: bilbomd-mongodb-dev
    external: true
  redis-cache:
    name: bilbomd-redis-cache-dev
    external: true
  scratch:
    name: bilbomd-scratch-dev
    external: true

networks:
  app-network-dev:
    driver: bridge

services:
  # ------------------------------------------------------------------------------------
  mongodb:
    image: mongo:7.0.24
    pull_policy: always
    restart: always
    healthcheck:
      test: echo 'db.runCommand({serverStatus:1}).ok' | mongosh admin -u $MONGO_USERNAME -p $MONGO_PASSWORD --quiet | grep 1
      interval: 10s
      timeout: 10s
      retries: 7
      start_period: 20s
    env_file:
      - .env.dev
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGO_USERNAME
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_PASSWORD
    ports:
      - "${MONGO_DEV_BIND_ADDR:?err}:${MONGO_EXTERNAL_PORT:?err}:27017"
    volumes:
      - mongodb:/data/db
    networks:
      - app-network-dev

  # ------------------------------------------------------------------------------------
  redis:
    image: redis:7.4.5
    pull_policy: always
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    env_file:
      - path: .env.dev
    ports:
      - "${REDIS_DEV_BIND_ADDR:?err}:${REDIS_EXTERNAL_PORT:?err}:6379"
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - redis-cache:/data
    networks:
      - app-network-dev

  # ------------------------------------------------------------------------------------
  backend:
    image: ghcr.io/bl1231/bilbomd-backend:1.27.2
    pull_policy: always
    deploy:
      resources:
        limits:
          cpus: "12"
    restart: no
    user: "${UID:-1001}:${GID:-1001}"
    env_file:
      - path: .env.dev
    ports:
      - "${BILBOMD_DEV_BIND_ADDR:?err}:${BILBOMD_BACKEND_PORT:?err}:3500"
    volumes:
      - /bilbomd/dev/uploads:/bilbomd/uploads
      - /bilbomd/dev/logs:/bilbomd/logs
      - scratch:/bilbomd/scratch
    networks:
      - app-network-dev
    depends_on:
      - mongodb
      - redis
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:3500/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  # ------------------------------------------------------------------------------------
  worker:
    image: ghcr.io/bl1231/bilbomd-worker:1.22.0
    pull_policy: always
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "24"
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: no
    user: "${UID:-1001}:${GID:-1001}"
    env_file:
      - path: .env.dev
    networks:
      - app-network-dev
    volumes:
      - /bilbomd/dev/uploads:/bilbomd/uploads
      - /bilbomd/dev/logs:/bilbomd/logs
      - scratch:/bilbomd/scratch
    depends_on:
      - mongodb
      - redis
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:3000/config"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  # ------------------------------------------------------------------------------------
  ui:
    image: ghcr.io/bl1231/bilbomd-ui:1.24.0
    pull_policy: always
    env_file:
      - .env.dev
    ports:
      - "${BILBOMD_DEV_BIND_ADDR:?err}:${BILBOMD_UI_PORT:?err}:80"
    networks:
      - app-network-dev
    depends_on:
      - backend
      - mongodb
      - redis
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
