apiVersion: v1
data:
  BILBOMD_BACKEND_HOST: localhost
  BILBOMD_BACKEND_PORT: "3501"
  BILBOMD_URL: https://bilbomd-nersc.bl1231.als.lbl.gov
  MONGO_AUTH_SRC: admin
  MONGO_DB: bilbomd
  MONGO_HOSTNAME: mongo
  MONGO_PORT: "27017"
  MONGO_USERNAME: bilbomd-backend-user
  REDIS_HOST: redis
  REDIS_PORT: "6379"
  NODE_ENV: production
kind: ConfigMap
metadata:
  name: backend-config
  namespace: bilbomd
