apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    field.cattle.io/description: BilboMD Frontend UI app
  labels:
    workload.user.cattle.io/workloadselector: apps.deployment-{{ .Values.namespace }}-{{ .Values.ui.name }}
  name: "{{ .Values.ui.name }}"
  namespace: "{{ .Values.namespace }}"
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      workload.user.cattle.io/workloadselector: apps.deployment-{{ .Values.namespace }}-{{ .Values.ui.name }}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        workload.user.cattle.io/workloadselector: apps.deployment-{{ .Values.namespace }}-{{ .Values.ui.name }}
    spec:
      affinity: {}
      containers:
      - envFrom:
        - configMapRef:
            name: {{ .Values.namespace }}-ui-config
            optional: false
        image: "{{ .Values.ui.image.registry }}/{{ .Values.ui.image.owner }}/{{ with .Values.ui.image.user }}{{ . }}/{{ end }}{{ with .Values.ui.image.repository }}{{ . }}{{ end }}{{ with .Values.ui.image.build }}{{ . }}{{ end }}:{{ .Values.ui.image.tag }}"
        imagePullPolicy: "{{ .Values.ui.image.pullPolicy }}"
        name: container-0
        ports:
        - containerPort: 80
          name: 80tcp
          protocol: TCP
        resources: {}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            add:
              - CHOWN
              - DAC_OVERRIDE
              - FOWNER
              - NET_BIND_SERVICE
              - SETGID
              - SETUID
            drop:
              - ALL
          privileged: false
          readOnlyRootFilesystem: false
        stdin: true
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        tty: true
      dnsPolicy: ClusterFirst
      imagePullSecrets:
        - name:  {{ .Values.ui.image.secret }}
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
