node_modules
npm-debug.log
Dockerfile
docker
.dockerignore
.git
README.md
.gitignore
.vscode
.prettierrc
.prettierignore
.nvmrc
logs
.eslintrc.yml
bilbomd-test-data
imp-2.18.0.tar.gz
**/node_modules
**/dist
**/build
**/.turbo
**/.vite
**/.cache
.git
infra/logs
uploads-dev
*.log